.maincard {
  padding: 0px;
  border-radius: 30px;
  z-index: 1;
}

.person1 {
  position: relative;
  top: -100px;
  left: 50px;
  z-index: 2;
}

.person2 {
  position: relative;
  top: 90px;
  left: -50px;
  z-index: 2;

}

