.maincard{
  padding: 100px;
  border-radius: 30px;
  z-index: 1;
  width: ;
}

.person1{
    position: relative;
    top: -100px;
    left: 50px;
    z-index: 2;
}

.person2{
    position: relative;
    top: 90px;
    left: -50px;
    z-index: 2;

}